{{ extend './_layout/home.html' }}

{{ block 'head' }}
<link href="/public/css/signin.css" rel="stylesheet" />
{{ /block }}

{{ block 'main' }}
<div class="container">
  <div class="py-5 text-center">
    <h2>Sign up</h2>
  </div>
  <form class="form-signin needs-validation" action="/auth/register" method="post">
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="firstName">First name</label>
        <input type="text" class="form-control" id="firstName" name="firstName" placeholder=""
          value="{{ formData && formData.firstName }}" required="true" />
        <div class="invalid-feedback">
          {{ errors && errors.firstName }}
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label for="familyName">Family name</label>
        <input type="text" class="form-control" id="familyName" name="familyName"
          value="{{ formData && formData.familyName }}" required="true" />
        <div class="invalid-feedback">
          {{ errors && errors.familyName }}
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="email">Email <span class="text-muted"></span></label>
      <input type="email" class="form-control" id="email" name="email" value="{{ formData && formData.email }}"
        placeholder="you@example.com" required="true" />
      <div class="invalid-feedback">
        {{ errors && errors.email }}
      </div>
    </div>

    <div class="mb-3">
      <label for="username">Username</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">@</span>
        </div>
        <input type="text" class="form-control" id="username" name="nickname"
          value="{{ formData && formData.nickname }}" placeholder="Username" required="true" />
        <div class="invalid-feedback" style="width: 100%;">
          {{ errors && errors.nickname }}
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" required="true" />
      <div class="invalid-feedback">
        {{ errors && errors.password }}
      </div>
    </div>

    <div class="mb-3">
      <label for="confirm-password">Confirm Password</label>
      <input type="password" class="form-control" id="confirm-password" name="confirmPassword" required="true" />
      <div class="invalid-feedback">
        {{ errors && errors.conformPassword }}
      </div>
    </div>

    <button class="btn btn-primary btn-lg btn-block" type="submit">Sign up</button>
  </form>
</div>
{{ /block }}